input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
     color: #fff;
 }
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #fff;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #fff;
}