{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "React": true,
    "wx": true,
    "$": true,
    "lib": true,
    "segue": true,
    "SelectImagePlugin": true,
    "FullScreenImage": true,
    "LogoutPlugin": true,
    "CORDOVA_ENV": true
  },
  "rules": {
    "max-len": [ "error", 120 ],
    "comma-dangle": [ "error", "never" ],
    "eol-last": [ "off" ],
    "react/prefer-stateless-function": [ "off" ],
    "object-curly-spacing": [ "off" ],
    "arrow-body-style": [ "off" ],
    "newline-per-chained-call": [ "off" ]
  }
}